.banner {
    background-image: url('Imgs/pexels-kaboompics-5877.jpg'); /* Asegúrate de cambiar 'ruta-a-tu-imagen/image.png' a la ruta correcta de tu imagen */
    background-size: cover;
    background-position: center;
    height: 300px; /* Ajusta la altura según necesites */
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    color: white; /* Cambia el color según el fondo de la imagen para una mejor visibilidad */
    font-size: 48px; /* Ajusta el tamaño del texto */
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.card {
    flex: 1 0 18%; /* Cambia la base para que se ajuste al 20% del espacio disponible menos los márgenes/gaps */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100%;
    height: 200px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Asegura que la imagen cubra el espacio asignado sin deformarse */
}

.card h3 {
    margin: 10px;
    text-align: center;
}
